<!DOCTYPE html>
<html>
    <head>
        <!-- Meta information and title -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homepage</title>
        <!-- Bootstrap CSS and jQuery/Bootstrap JS from CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <!-- Internal Styles -->
        <style>
            body {
                background-color: #007bff; 
                color: #333; 
            }
    
            .container {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px; 
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            }
    
            table {
                width: 100%;
                margin-top: 20px;
                border-collapse: collapse;
            }
    
            th, td {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd; 
            }
    
            th {
                background-color: #7e5d17;
                color: #fff; 
            }
    
            button {
                padding: 8px 16px;
                background-color: #0099ff;
                color: #fff;
                border: none;
                cursor: pointer;
                border-radius: 4px;
            }
    
            button:hover {
                background-color: #9fad4f;
            }

            .button-container {
                display: flex;
                justify-content: center;
                padding: 20px;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); /* Adds a shadow effect */
                }

                .button-container .audi-button {
                font-size: 1.5em;
                padding: 10px 20px;
                background-color: #aa0a0a; 
                width: 200px;
                }

                .button-container .vw-button {
                font-size: 1.5em;
                padding: 10px 20px;
                background-color: #0e00cc; 
                width: 200px;
                }

                .button-container .bmw-button {
                font-size: 1.5em;
                padding: 10px 20px;
                background-color: #150747; 
                width: 200px;
                }

                .button-container .seat-button {
                font-size: 1.5em;
                padding: 10px 20px;
                background-color: #665c00; 
                width: 200px;
                }

        </style>  
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Irish AutoBiz</h1>
            <!-- Code taken from: https://getbootstrap.com/docs/5.3/components/carousel/ -->
            <!-- Creating a carousel of images for the different console types; Images will bring to console official home-pages if clicked -->
            <div id="my_carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Set timer to 5 seconds per slide (5000 milliseconds); images shown are in the images folder and relative paths are shown in code -->
                    <!-- The dimensions of the images are also all adjusted to be the same to avoid any clipping on the page between rotations of the carousel -->
                    <div class="carousel-item active" data-bs-interval="5000">
                        <a href="https://www.micksgarage.com/home?gad_source=1&gclid=EAIaIQobChMI4dK267vwggMVVotQBh1TLQnWEAAYASAAEgKRb_D_BwE">
                            <img src="../images/micks-garage-logo.jpg" class="d-block w-100" alt="micksGarage" style="width: 500px; height: 550px">
                        </a>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <a href="https://www.auto-doc.ie/?utm_medium=cpc&utm_source=google&tb_prm=20750135270&gshp=1&gad_source=1&gclid=EAIaIQobChMIttqb9rvwggMVGNTtCh3SEAf0EAAYASAAEgLFM_D_BwE">
                            <img src="../images/autodoc_logo.jpg" class="d-block w-100" alt="auto-doc" style="width: 500px; height: 550px">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="text-center">Parts Catalogue</h1>
                <h3 class="text-center">Help us create Ireland's most extensive parts catalogue!</h3>
                <p class="text-center"> You can help us to become Ireland's first community-driven parts catalogue by using your in-depth knowledge of parts. Established in 2023 - Irish AutoBiz is a community-driven project looking to create an extensive list of parts using OEM numbers and manufacturer pricing. Help us reach our goal of 500 parts before 2024, and every contributor will be entered into a draw to win a fabulous prize!
                </p>
                <table class="table" style="width: 80%; margin: 0 auto;" id="partTable">
                    <tr>
                        <th>id</th>
                        <th>Part Name</th>
                        <th>Part Number</th>
                        <th>Price</th>
                    </tr>
                </table>
            </div>

            <div style="text-align: center; margin-bottom: 20px;">
                <!-- Button to show the form for adding a part to the catalogue -->
                <button id="showCreateButton" onclick="showCreate()">Add a Part to our catalogue!</button>
            </div>
            <div id='createUpdateForm' style="display: none; margin-top: 20px; text-align: center;">
                <h2><span id="createLabel">Create a</span> <span id="updateLabel">update</span> Part</h2>
                <div style="display: inline-block; text-align: left;">
                    <!-- Input fields for creating or updating a part -->
                    <input type="hidden" name="id"/>
                    Part Name <input type="text" name="Part_Name" style="margin-bottom: 10px;"/><br/>
                    Part Number <input type="text" name="Part_No" style="margin-bottom: 10px;"/> <br/>
                    Price <input type="number" name="Price" style="margin-bottom: 10px;"/> <br/>
                </div>
                <!-- Buttons for creating, updating, and deleting a part -->
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <button id="doCreateButton" onclick="doCreate()" style="background-color: #831559; color: #fff;">Create</button>
                    </div>
                    <div class="col-md-2">
                        <button id="doUpdateButton" onclick="doUpdate()" style="background-color: #28a745; color: #fff;">Update</button>
                    </div>
                    <div class="col-md-2">
                        <button id="doDeleteButton" onclick="doDelete()" style="background-color: #dc3545; color: #fff;">Delete</button>
                    </div>
                </div>
            </div>
        
        <!-- Add brands to the page, each button sends the user to the official manufacturer website-->
        <div class="button-container" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="col-md-2">
                <!-- Button to visit Audi's official website -->
                <a href="https://www.audi.ie/" target="_blank" class="btn btn-primary audi-button">Audi</a>
            </div>
            <div class="col-md-2">
                <!-- Button to visit Volkswagen's official website -->
                <a href="https://www.volkswagen.ie/" target="_blank" class="btn btn-primary vw-button">Volkswagen</a>
            </div>
            <div class="col-md-2">
                <!-- Button to visit BMW's official website -->
                <a href="https://www.bmw.ie/" target="_blank" class="btn btn-primary bmw-button">BMW</a>
            </div>
            <div class="col-md-2">
                <!-- Button to visit Seat's official website -->
                <a href="https://www.seat.ie/" target="_blank" class="btn btn-primary seat-button">Seat</a>
            </div>
        </div>
        
        <div style="text-align: center; margin-bottom: 20px;">
            <h2 class="text-center">Penalty Point Counter</h2>
            <p class="text-center"> With the recent clamp down on speeding/drink driving we have included on this website a link to data from the CSO website about Penalty Points which were issued between 2021 and 2022. The information can be viewed by pressing the 'Search' button, don't forget to choose from the years 2021 or 2022! </p>
            <!-- Input fields and button for searching penalty points by county and year -->
            <label for="yearInput">Year:</label>
            <input type="text" id="yearInput" name="yearInput">
            <button onclick="getPenaltyPoints()">Search</button>
        
            <!-- Table to display penalty points based on the search criteria -->
            <table class="table" id="pointsTable">
                <tr>
                    <th>Penalty Points List - County</th>
                </tr>
            </table>
        </div>
        
    </body>

    <script>
    // Functions for handling UI elements
    function showCreate(){
        // Show the form for creating a new part and hide other elements
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('partTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"

        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"
    }

    function showViewAll(){
        // Show the parts table and the button for adding a new part
        document.getElementById('showCreateButton').style.display="block"
        document.getElementById('partTable').style.display="block"
        document.getElementById('createUpdateForm').style.display="none"
    }

    function showUpdate(buttonElement){
        // Show the form for updating a part and hide other elements
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('partTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="none"
        document.getElementById('updateLabel').style.display="inline"

        document.getElementById('doCreateButton').style.display="none"
        document.getElementById('doUpdateButton').style.display="block"

        // Clear the form before populating it
        clearForm();

        // Extract part details from the selected row
        var rowElement = buttonElement.parentNode.parentNode
        var part = getPartFromRow(rowElement)
        populateFormWithPart(part)
    }

    // CRUD Operations 
    function doCreate(){
        // Create a new part based on the form input
        var form = document.getElementById('createUpdateForm')
        var part = {
            Part_Name: form.querySelector('input[name="Part_Name"]').value,
            Part_No: form.querySelector('input[name="Part_No"]').value,
            Price: form.querySelector('input[name="Price"]').value,
        };
        // Call the AJAX function to create the part
        console.log(JSON.stringify(part))
        createPartAjax(part)
        
    }

    function doUpdate(){
        // Update an existing part based on the form input
        var part = getPartFromForm();
        var rowElement = document.getElementById(part.id);
        updatePartAjax(part);
        setPartInRow(rowElement, part);
        clearForm();
        showViewAll();
    }

    function doDelete(r){
        // Delete a part based on the selected row
        var tableElement = document.getElementById('partTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deletePartAjax(rowElement.getAttribute("id"));
        tableElement.deleteRow(index);

    }

    // Function for adding parts to the table on the webpage
    function addPartToTable(part) {
    var tableElement = document.getElementById('partTable');
    var rowElement = tableElement.insertRow(-1);
    rowElement.setAttribute('id', part.id);
    var cell1 = rowElement.insertCell(0);
    cell1.innerHTML = part.id;
    var cell2 = rowElement.insertCell(1);
    cell2.innerHTML = part.Part_Name;  
    var cell3 = rowElement.insertCell(2);
    cell3.innerHTML = part.Part_No;  
    var cell4 = rowElement.insertCell(3);
    cell4.innerHTML = part.Price;  
    var cell5 = rowElement.insertCell(4);
    cell5.innerHTML = '<button onclick="showUpdate(this)">Update</button>';
    var cell6 = rowElement.insertCell(5);
    cell6.innerHTML = '<button onclick="doDelete(this)">Delete</button>';
    }

    //Function for clearing the form after details have been entered.
    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="Part_Name"]').value=''
        form.querySelector('input[name="Part_No"]').value=''
        form.querySelector('input[name="Price"]').value=''
    }

    function getPartFromRow(rowElement){
        var part ={}
        part.id  = rowElement.getAttribute('id')
        part.name = rowElement.cells[1].firstChild.textContent
        part.number = rowElement.cells[2].firstChild.textContent
        part.price = parseInt(rowElement.cells[3].firstChild.textContent,10)
        return part
    }

    function setPartInRow(rowElement, part){
        rowElement.cells[0].firstChild.textContent= part.id  
        rowElement.cells[1].firstChild.textContent= part.name
        rowElement.cells[2].firstChild.textContent= part.number
        rowElement.cells[3].firstChild.textContent= part.price
    }

    // Query Selectors for form on page.
    function populateFormWithPart(part){
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="id"]').disabled = true
        form.querySelector('input[name="id"]').value  = part.id
        form.querySelector('input[name="Part_Name"]').value= part.name
        form.querySelector('input[name="Part_No"]').value= part.number
        form.querySelector('input[name="Price"]').value= part.price
        return part
    }

    // Push part created in the form to a JSON file for the database.
    function getPartFromForm(){
        var form = document.getElementById('createUpdateForm')
        var part = {

        id : form.querySelector('input[name="id"]').value,
        name : form.querySelector('input[name="Part_Name"]').value,
        number : form.querySelector('input[name="Part_No"]').value,
        price : parseInt(form.querySelector('input[name="Price"]').value,10)

        }
        console.log(JSON.stringify(part))
        return part
    }

    function getAllAjax(){
        $.ajax({
            "url": "/parts/",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                for (part of result){
                    addPartToTable(part);
                }
                
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });

    }

    // AJAX CRUD Operations using the JSON file created above.
    function createPartAjax(part){
    console.log(JSON.stringify(part));
    $.ajax({
        "url": "/parts/",
        "method":"POST",
        "data": JSON.stringify({
            "Part_Name": part.Part_Name, 
            "Part_No": part.Part_No,
            "Price": part.Price 
        }),
        "dataType": "JSON",
        contentType: "application/json; charset=utf-8",
        "success": function(result){
            part.id = result.id
            addPartToTable(part)
            clearForm()
            showViewAll()
        },
        "error": function(xhr, status, error){
            console.log("error: "+status+" msg:"+error);
        }
    });


    }

    function updatePartAjax(part){
        console.log(JSON.stringify(part));
        $.ajax({
            "url": "/parts/"+encodeURI(part.id),
            "method":"PUT",
            "data": JSON.stringify({
            "Part_Name": part.Part_Name,
            "Part_No": part.Part_No,
            "Price": part.Price
            }),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function deletePartAjax(id){
        
        $.ajax({
            "url": "/parts/"+encodeURI(id),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function getPenaltyPoints() {
    // Perform an AJAX request to retrieve penalty points
        $.ajax({
            "url": "/points/", 
            "method": "GET",
            "dataType": "JSON",
            "success": function (result) {
                // Update the pointsTable with the retrieved data
                updatePenaltyPointsTable(result);
            },
            "error": function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });
    }

    // Update UI with the retrieved data.
    function updatePenaltyPointsTable(points) {
        var tableElement = document.getElementById('pointsTable');
        // Clear existing rows from the table
        tableElement.innerHTML = '<tr><th>Penalty Points List - County</th></tr>';
    }


    getAllAjax();
  
    
    </script>
</html>