<html>
    <head>
        <title> view parts</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Parts</h1>
        <div>
            <table class="table" id="partTable">
                <tr>
                        <th>id</th>
                        <th>Part Name</th>
                        <th>
                            Part Number
                        </th>
                        <th>Price</th>
                </tr>
                
            </table>
        </div>
        <div> <button id="showCreateButton" onclick="showCreate()">Create</button></div>
        <div id='createUpdateForm' style="display: none">
                <h2><span id="createLabel">Create a</span> <span id="updateLabel">update</span> Part</h2>
                <input type="hidden" name="id"/>
                Part Name <input type="text" name="Part_Name" /><br/>
                Part Number <input type="text" name="Part_No"/> <br/>
                Price <input type="number" name="Price"/> <br/>
                <span><button id="doCreateButton" onclick="doCreate()">Create</button></span>
                <span><button id="doUpdateButton" onclick="doUpdate()">Update</button></span>
        </div>
    </body>
    <script>

    function showCreate(){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('partTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"

        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"

    }


    function showViewAll(){
        document.getElementById('showCreateButton').style.display="block"
        document.getElementById('partTable').style.display="block"
        document.getElementById('createUpdateForm').style.display="none"
    }

    function showUpdate(buttonElement){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('partTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="none"
        document.getElementById('updateLabel').style.display="inline"

        document.getElementById('doCreateButton').style.display="none"
        document.getElementById('doUpdateButton').style.display="block"

        var rowElement = buttonElement.parentNode.parentNode
        
        var part = getPartFromRow(rowElement)
        populateFormWithPart(part)
    }


    function doCreate(){
        var form = document.getElementById('createUpdateForm')

        var part = {
            Part_No: form.querySelector('input[name="Part_No"]').value,
            Part_Name: form.querySelector('input[name="Part_Name"]').value,
            Price: form.querySelector('input[name="Price"]').value,
        };

        console.log(JSON.stringify(part))
        createPartAjax(part)
        
    }

    function doUpdate(){
        var part = getPartFromForm();
        var rowElement = document.getElementById(part.id);
        updatePartAjax(part);
        setPartInRow(rowElement, part);
       
        clearForm();
        showViewAll();
    }

    function doDelete(r){
        var tableElement = document.getElementById('partTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deleteBookAjax(rowElement.getAttribute("id"));
        tableElement.deleteRow(index);

    }

    function addPartToTable(part) {
    var tableElement = document.getElementById('partTable');
    var rowElement = tableElement.insertRow(-1);
    rowElement.setAttribute('id', part.id);
    var cell1 = rowElement.insertCell(0);
    cell1.innerHTML = part.id;
    var cell2 = rowElement.insertCell(1);
    cell2.innerHTML = part.Part_Name;  
    var cell3 = rowElement.insertCell(2);
    cell3.innerHTML = part.Part_No;  
    var cell4 = rowElement.insertCell(3);
    cell4.innerHTML = part.Price;  
    var cell5 = rowElement.insertCell(4);
    cell5.innerHTML = '<button onclick="showUpdate(this)">Update</button>';
    var cell6 = rowElement.insertCell(5);
    cell6.innerHTML = '<button onclick="doDelete(this)">Delete</button>';
    }


    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="Part_Name"]').value=''
        form.querySelector('input[name="Part_No"]').value=''
        form.querySelector('input[name="Price"]').value=''
    }

    function getPartFromRow(rowElement){
        var part ={}
        part.id  = rowElement.getAttribute('id')
        part.name = rowElement.cells[1].firstChild.textContent
        part.number = rowElement.cells[2].firstChild.textContent
        part.price = parseInt(rowElement.cells[3].firstChild.textContent,10)
        return part
    }

    function setPartInRow(rowElement, part){
        rowElement.cells[0].firstChild.textContent= part.id  
        rowElement.cells[1].firstChild.textContent= part.name
        rowElement.cells[2].firstChild.textContent= part.number
        rowElement.cells[3].firstChild.textContent= part.price
    }

    function populateFormWithPart(part){
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="id"]').disabled = true
        form.querySelector('input[name="id"]').value  = part.id
        form.querySelector('input[name="Part_Name"]').value= part.name
        form.querySelector('input[name="Part_No"]').value= part.no
        form.querySelector('input[name="Price"]').value= part.price
        return part
    }

    function getPartFromForm(){
        var form = document.getElementById('createUpdateForm')
        var part = {

        id : form.querySelector('input[name="id"]').value,
        name : form.querySelector('input[name="Part_Name"]').value,
        number : form.querySelector('input[name="Part_No"]').value,
        price : parseInt(form.querySelector('input[name="Price"]').value,10)

        }
        console.log(JSON.stringify(part))
        return part
    }

    function getAllAjax(){
        $.ajax({
            "url": "/parts/",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                //console.log(result);
                for (part of result){
                    addPartToTable(part);
                }
                
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });

    }
    function createPartAjax(part){
        //var car = {"reg":"12 D 1234","make":"Fiat","model":"Punto","price":3000}
        console.log(JSON.stringify(part));
        $.ajax({
            "url": "/parts/",
            "method":"POST",
            "data":JSON.stringify(part),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                part.id = result.id
                addPartToTable(part)
                clearForm()
                showViewAll()
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function updatePartAjax(part){
        //var car = {"reg":"12 D 1234","price":8000}
        console.log(JSON.stringify(part));
        $.ajax({
            "url": "/parts/"+encodeURI(part.id),
            "method":"PUT",
            "data":JSON.stringify(part),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
               // console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function deletePartAjax(id){
        
        //console.log(JSON.stringify('deleting '+id));
        $.ajax({
            "url": "/parts/"+encodeURI(id),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    getAllAjax();
  
    
    </script>
</html>